<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611086280117-co9rgdsk4rkni3nu211jdi0dgk30sk7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611086280117-co9rgdsk4rkni3nu211jdi0dgk30sk7u</string>
	<key>API_KEY</key>
	<string>AIzaSyBzU9EtE-DeeYyliXtLVpzZEJ9DATM5qq4</string>
	<key>GCM_SENDER_ID</key>
	<string>611086280117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mizuki.RealitySuperApp</string>
	<key>PROJECT_ID</key>
	<string>realityapp-f11ab</string>
	<key>STORAGE_BUCKET</key>
	<string>realityapp-f11ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611086280117:ios:9d78e3b15045deccf5e5fc</string>
</dict>
</plist>